                    * {
                        box-sizing: border-box;
                    }
                    
                    input {
                        height: 20px;
                        margin-left: 80px;
                        align-items: center;
                    }
                    
                    form p {
                        display: inline-block;
                        width: 240px;
                        padding-top: 15px;
                    }
                    
                    .App p {
                        margin-left: 70px;
                    }